<div class="page-wrapper p-t-130 p-b-100 font-poppins admin-bg">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Admin Dashboard</h2>
                
            </div>
        </div>
    </div>
</div>