<section class="vh-126 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div id="form-align" class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create your account.</h3>
                        {{#if err}}
                        <p class="text-danger mb-5">{{err-label}}</p>
                        {{else}}
                        <p class="text-dark-50 mb-5">Enter your details.</p>
                        {{/if}}
                        <form id="form-align" action="/submit-reg" method="POST">


                            <div class="col-md-6 mb-4">

                                <div class="form-outline">
                                    <input type="text" name="username" id="username" placeholder="Name"
                                        class="form-control form-control-lg" />
                                </div>

                            </div>



                            <div class="col-md-6 mb-4">

                                <div class="form-outline">
                                    <input type="email" name="email" placeholder="Email" id="emailAddress"
                                        class="form-control form-control-lg" />

                                </div>

                            </div>




                            <div class="col-md-6 mb-4">
                                <div class="row">
                                    <div class="form-outline">
                                        <input type="password" name="password" id="password"
                                            class="form-control form-control-lg" placeholder="Password">

                                    </div>

                                </div>

                            </div>

                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Signup">
                            </div>

                            <p class="mb-5 pb-lg-2 mt-5">Already have an account? <a class="text-danger-50" href="/">Login</a></p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>